<div id="footer">

  {% include svg-icons.html %}<br>
  <div class="space"></div>
  Copyleft &copy; 2020 <strong>El 6CeiBita</strong>. Diseño adaptado del original <span style="color: red;">terrafirma 1.0</span> de <a href="http://www.nodethirtythree.com/">n33</a>, bajo la licencia <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> <br>
  <div class="space"></div>
  <a href="http://creativecommons.org/licenses/by/2.5/legalcode"><img src="{{ site.url }}/images/cca2.5.png" width="65px" style="border-radius: 4px;"></a>

</div>
