<div class="row">

   <div class="col-sm-6" id="header">
   <!--<h1><span>Sci SeiBita<sup>6</sup></span></h1>
   <h2>Diseñado por <a href="http://www.nodethirtythree.com/">n33</a></h2> -->
     <img src="{{ site.url }}/images/elceibita.png" class="img-responsive" style="max-width: 100px;" height="89px;">
     <h1 style="top: 14px;left: 100px;"><span style="font-weight: 600;">El 6Ceibita</span></h1>
     <h2 style="top: 39px;left: 100px;">Plantilla terrafirma v1.0 de <a href="http://www.nodethirtythree.com/" style="font-weight: 900;">n33</a>, adaptada por el 6Ceibita en concordancia con la licencia <a href="http://creativecommons.org/licenses/by/2.5/" style="font-weight: 900;">CC BY 2.5</a></h2>
   </div>

   <div class="col-sm-6" id="splash">
   </div>

</div>
